aaa*
xxxxx
bin/
*.bk
*.sw*
*.bk
*.pem
measurements
ec2_measurements
mr/par-mr.out
perf/perf.test
benchmarks/results/
*.err
*.pdf
scratch.sh
run-until-fail.sh
env/user.sh
# Artifact evaluation credential files
*.priv
